#header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: var(--black-col);
  padding: 2.5vh 2.3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  transition: all 0.8s ease;
  &.light {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: 0.3;
  }
  .img-container {
    width: 10%;
    height: 100%;
    img {
      object-fit: contain;
    }
  }
  #navigation {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      text-align: center;
      color: var(--white-col);
      text-decoration: none;
    }
  }
  .open {
    display: none;
  }
  .close {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  #header {
    z-index: 99 !important;
    isolation: isolate;
    position: relative;
    opacity: 1;
    .img-container {
      width: 25%;
      height: 80%;
      img {
        object-fit: contain;
      }
    }
    #navigation {
      &.inactive {
        display: none;
      }
      .socials {
        display: none;
      }
    }
    .burger {
      height: 15px;
      width: 35px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      div {
        height: 2px;
        background-color: var(--white-col);
        transition: all 0.3s ease;
      }
      &.close {
        .line-1 {
          width: 60%;
        }
        .line-2 {
          width: 100%;
        }
        .line-3 {
          width: 75%;
        }
      }
      &.open {
        .line-1 {
          transform: rotate(45deg) translate(3px, 4px);
          width: 100%;
        }
        .line-2 {
          opacity: 0;
        }
        .line-3 {
          transform: rotate(-45deg) translate(5px, -7px);
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  #header {
    position: fixed;
    #navigation {
      display: flex !important;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      padding: 5vh 10vw;
      height: 100vh;
      width: 60vw;
      transition: all 0.6s ease-in-out;
      background-color: inherit;
      backdrop-filter: blur(100px);
      &.active {
        position: absolute;
        top: 0;
        right: 0;
      }
      &.inactive {
        right: -100%;
        top: 10vh;
      }
      .socials {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > a {
          width: calc (100% / 3);
        }
      }
    }
  }
}
