@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(1, 1, 1, 0.2);
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: none;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}
